html{
  overflow-x:hidden;
}
body {
    margin:0;
    background-color: #E7E3E0;
  }
  
  
  .banniereJay {
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    position: relative; 
  }
  
  .imageBanniere {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  
  .banniereTitre {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 60px;
    font-family: azo sans; 
    font-weight: 600;
    font-style: normal;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    top:45%;
    transform: translateY(-55%); 
  }
  
  .decouvrir{
    position: absolute;
    bottom: 10%;
    transform: translateY(-50%); 
    display: flex;
    justify-content: center;
    width: 100vw;
    color: white;
    background-color: rgba(9, 23, 29, 0.7);
    box-shadow: 3px 3px 7px #0f1b24;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .decouvrirTexte {
    max-width: 700px;
    position: relative;
    font-size: 18px;
    font-family: azo sans; 
    font-weight: 400;
    font-style: normal;
    margin-right: 20px;
    top: 5px;
  }
  
  .savoir{
    font-size:18px;
    font-family: azo sans; 
    font-weight: 600;
    font-style: normal;
    position:relative;
    margin-left:20px;
    color:white;
    border: 4px solid white;
    background: none;
    padding:10px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .savoir:active{
    text-decoration: none;
    color: white;
    background-color: black;
  }
  .savoir:hover{
    color: black;
    background-color: white;
    text-decoration: none;
  }
  
  
  .aPropos{
    width: 100vw;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: azo sans; 
    background-color: bluergba(255, 255, 255, 0.2);
    
    
  }
  
  .proposTexte h3 {
    font-size: 35px;
    text-align: center;
  }
  
  .proposTexte{
    width: 50%;
    font-size: 18px;
  }
 
  .imagePropos {
    width: 20%;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grouperTerciere{
    height:100% ;
    width: 100vw;
    position: relative;
  }
  
  .imageVisionMission {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .action{
    position: absolute;
    display: flex;
    width: 100%;
    height: 25%;
    color: white;
    background-color: rgba(9, 23, 29, 0.7);
    box-shadow: 3px 3px 7px #0f1b24;
    padding-top: 20px;
    padding-bottom: 20px;
    bottom:10%;
    justify-content: space-evenly;
    font-family: azo sans; 
  }
  
  .actionTexte {
    max-width: 700px;
    position: relative;
    font-size: 18px;
    font-family: azo sans; 
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
  .actionTexte h3 {
    font-size: 35px;
    width: 100%;
    position: relative;
    text-align: center;
    
  }
  
  .cible {
    width: 120%;
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
  
  .vision{
    position: absolute;
    display: flex;
    width: 100%;
    height: 25%;
    color: white;
    background-color: rgba(9, 23, 29, 0.7);
    box-shadow: 3px 3px 7px #0f1b24;
    padding-top: 20px;
    padding-bottom: 20px;
    top:10%;
    justify-content: space-evenly;
    font-family: azo sans; 
  }
  
  .visionTexte h3 {
    font-size: 35px;
    width: 100%;
    position: relative;
    text-align: center;
  }

  .visionTexte {
    max-width: 700px;
    position: relative;
    font-size: 18px;
    font-family: azo sans; 
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
  .oeil {
    width: 120%;
    position: relative;
    top:50%;
    transform: translateY(-50%);
  }
  
  @media screen and (max-width: 1195px) {
    .imagePropos {
      width: 40%;
    }
    .proposTexte h3 {
      font-size: 25px;
    }
    .proposTexte{
      width: 50%;
      font-size: 14px;
    }
    .action{
      justify-content: center;


    }
    .actionTexte, .visionTexte{
      position: absolute;
      max-width: none;
      text-align: start;
      width: 80%;
      left: 10%;
      right: 10%;
    }
    
    .decouvrirTexte {
      font-size: 16px;
      left: 0%;
      width: 50%;
    }
    
    .savoir {
      right: 15%;
    }

    .decouvrir {
      bottom: 15%;
    }
    
  @media screen and (max-width: 693px) {
    
    .banniereTitre {
      font-size:30px;
    }
    
    .decouvrirTexte {
    width: 80%;
    position: relative;
    font-size: 12px;
    font-family: azo sans; 
    font-weight: 400;
    font-style: normal;
    margin-right: 0;
    top: 5px;
  }
  .enteteValeur{
    position: absolute;
    bottom:-100px;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow-x: hidden;
  }
  .savoir{
    margin-left:0;
    right: 0;
  }
    .imagePropos {
      width: 0;
    }
    .proposTexte{
      font-size: 14px;
      width: 80%;
      margin: 10% 0%;
    }
    .proposTexte h3{
    font-size: 25px;
    width: 100%;
    position: relative;
    }
    
  }
    .decouvrir{
    transform: translateY(-50%); 
    height: 10%;
  }
    .cible,  .oeil{
      display: none;
    }

    .visionTexte, .actionTexte{
      left: 10%;
      right: 10%;
      font-size: 16px;
      width: 80%;
      position: absolute;
    }
  }

  @media screen and (max-width: 420px) {
    .aPropos{
      height: 60%;
    }
    .proposTexte{
      font-size: 14px;
      width: 90%;
      margin: 5% 0%;
    }
    .proposTexte h3{
    font-size: 20px;
    width: 100%;
    position: relative;
    }
    
    .vision, .action{
      height: 35%;    
      align-items: center;
    }
    .visionTexte h3, .actionTexte h3{
      font-size: 25px;
    }
    .visionTexte, .actionTexte{
      left: 10%;
      right: 10%;
      font-size: 14px;
      width: 80%;
      position: absolute;
    }

  }
