body{
    background-color: #E7E3E0;
    margin:0;
    overflow-x:hidden;
    height:500vh;
    width:100vw;
}

main{
  height: 500vh;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
  }


.banniere{
    position:relative;
    width: 100vw;
    height: 60vh;
    justify-content:center;
    display:flex;
  }
  .imageBanniere{
    object-fit: cover;  
    width: 100vw; 
  }
  .titrePage.projet{
    position:absolute;
    color:white;
    font-size: 60px;
    font-family: azo sans; 
    font-weight: 600;
    font-style: normal;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
    top:45%;
    transform:translateY(-55%); 
  }
  .blocTexte{
    position: absolute;
    top:65%;
    height:10%;
    transform:translateY(-50%); 
    display: flex;
    justify-content: center;
    width: 100vw;
    color:white;
    background-color: rgba(9, 23, 29, 0.7);
    box-shadow: 3px 3px 7px #0f1b24;
    align-items:center;
  }
  .blocTexte p{
    max-width: 700px;
    position:relative;
    font-size:18px;
    font-family: azo sans; 
    font-weight: 400;
    font-style: normal;
    margin-right:20px;
    top:5px;
  }
  .sousBanniere{
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
  }
  .imagesSousBanniere{
    width: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    
  }

  .imageSousBanniereInd{
    width: 20%;
    position: relative;
    margin:auto 2%;
    text-align: center;
    background-color: white;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    max-width: 270px;

  }
  .imageSousBanniereInd:hover{
    width: 21%;
    max-width: 320px;
  }
  .imageSousBanniereInd h3{
    color: black;
    font-size: 120%;
    font-family: azo sans; 
    padding-bottom: 10px;
  }
  .imageSousBanniereInd img{
    width: 100%;
    box-sizing: border-box;
    border:solid white 7px; 
  }



.sectionProjet{
    position: relative;
    height:100vh;
    width: 100vw;  
}
.sectionProjet.parent{
    position: absolute;
}
.sectionProjet.enfant{
    position: absolute;
}
.bandeauProjetsParent{
    position: relative;
    width: 15%;
    max-width:250px;
    min-width: 150px;
    height:100%;
    margin-left: 5%;
    color: white;
    font-family: azo sans; 
    z-index: 1000;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.bandeauProjetsParent img{
    width: 80%;
    margin:30% 10% 0% 10%;
    position: relative;
    box-sizing: border-box;
    border:solid white 7px;
}
.bandeauProjetsParent h3{
    position: relative;
    display: inline-block;
    width: 80%;
    margin:20% 10% 0% 10%;
    text-align: center;
    font-weight: 500;
    font-size: 125%;

}
.bandeauProjetsParent p{
    position: relative;
    display: inline-block;
    width: 80%;
    margin:20% 10% 0% 10%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}
.swiper-container{
    width:100%;
    height:100%;
    position: relative;
}
.swiper-slide{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.fondSlider img{
    width:100vw;
    height:100vh;
    filter: blur(8px);
    object-fit: cover;
}
.contenuProjets{
    position: absolute;
    width: 70%;
    height:70%;
    margin:20% 5% 20% 25%;
    display: flex;
    align-items: center;
}
.blocTexteProjet{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30%;
    height:100%;
    max-width: 375px;
    min-width: 200px;
    font-family: azo sans; 
    margin-right: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}
.btn_projet{
    font-size:16px;
    font-family: azo sans; 
    font-weight: 700;
    font-style: normal;
    position:absolute;
    width: 50%;
    margin: 0% 25% 0% 25%;
    bottom:25px;
    height:50px;
    color:black;
    border: 4px solid black;
    background: none;
}
.btn_projet:hover{
    border: 4px solid #262626;
    color:#262626;
}
.blocTexteProjet h3{
    position: relative;
    padding: 5% 10% 0px 10%;
    width:80%;
    font-size: 30px;
}
.blocTexteProjet p{
    position: relative;
    padding: 0% 10% 0px 10%;
    margin-top:10%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}
.imageProjetEnfant{
    position: absolute;
    width: 69%;
    height:100%;
    max-width: 1200px;
    right: 0;
    object-fit: cover;
    margin-left: 1%;
    box-sizing: border-box;
    border:solid white 7px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}


.swiper-button-prev {
  margin-left: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 27 44'%3E%3Cpath d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z' fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}
.swiper-button-next {
  margin-right: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 27 44'%3E%3Cpath d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z' fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
}
.swiper-pagination-bullet-active {
background-color: white;
}





@media screen and (max-width: 1300px) {
    .blocTexteProjet h3{
        font-size: 24px;
    }
    .blocTexteProjet p{
        font-size: 14px;
    }
    .bandeauProjetsParent h3{
        font-size: 100%;
    
    }
}
@media screen and (max-width: 800px) {
    .banniere{
        position:relative;
        width: 100vw;
        height: 60vh;
        object-fit: cover;
        display:flex;
        
      }
      .titrePage{
        font-size: 25px;
        margin-left:10px;
        margin-right:10px;
        text-align: center;
        bottom:10px;
        top:70%;
      }
      .blocTexte p{
        max-width: 80%;
        position:relative;
        font-size:16px;
        margin-left:10px;
        top:5px;
        text-align:center;
      }

      .sousBanniere{
        width: 100vw;
        height: 40vh;
        
      }
      .imagesSousBanniere{
        position:relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height:100%;
      }

      .imageSousBanniereInd{
        width: 70%;
        height:23%;
        display: flex;
        align-items: center;
        max-width: none;
        margin-left: 15%;
        margin-right: 15%;
      }
      .imageSousBanniereInd:hover{
        width: 70%;
        max-width: none;
      }
      .imageSousBanniereInd:active{
        border:solid white 7px;
      }
      .imageSousBanniereInd h3{
        color: black;
        font-size: 120%;
        font-family: azo sans; 
        margin-left: 30%;
        text-align: start;
      }
      .imageSousBanniereInd img{
        width: 20%;
        margin:0px 0% 0px 5%;
        position: absolute;
        box-sizing: none;
        border: solid white 0px;
        max-width: 80px;
      }

    .contenuProjets{
        position: absolute;
        width: 80%;
        height:80%;
        margin:15% 10% 5% 10%;
        display: flex;
        bottom:0;
    }
    .blocTexteProjet{
        width: 100%;
        max-width: 1000px;
        height: 50%;
        position: absolute;
        bottom:0;
        margin: 0;
    }
    .imageProjetEnfant{
        position: absolute;
        width: 100%;
        height:50%;
        top:0;
        margin: 0;
    }
    .blocTexteProjet p{
        font-size: 16px;
    }
    .bandeauProjetsParent{
        width: 100vw;
        max-width:10000px;
        min-width: 1000px;
        height:10%;
        margin-top: 5%;
        margin-left:0%;
        z-index: 1000;
        margin-bottom: 90vh;
        display: flex;
        align-items: center;
    }
    .bandeauProjetsParent img{
        width: 8%;
        margin:0px 0% 0px 5%;
        position: absolute;
        box-sizing: border-box;
        border:solid white 4px;
    }
    .bandeauProjetsParent h3{
        display: none;
    }
    .bandeauProjetsParent p{
        position: absolute;
        width: 40%;
        margin:0px 20% 0px 20%;
        font-weight: 400;
        font-size: 14px;
        
    }
}
@media screen and (max-width: 620px) {
    
    .bandeauProjetsParent img{
        width: 8%;
        margin:0px 0% 0px 2%;
    }
    .bandeauProjetsParent h3{
        display: none;
    }
    .bandeauProjetsParent p{
        width: 25%;
        font-size: 12px;
        margin:0px 15% 0px 15%;
    }
    .blocTexteProjet h3{
      font-size: 16px;
  }
    .blocTexteProjet p{
      font-size: 14px;
  }
    .btn_projet{
        font-size:14px;
        font-family: azo sans; 
        font-weight: 700;
        width: 50%;
        margin: 0% 25% 0% 25%;
        bottom: 20px;
        height:40px;
    }
    .swiper-pagination-bullet {
      display:none;
    }
    .swiper-button-prev {
      margin-left: 2px;  
  }
  .swiper-button-next {
      margin-right: 2px;
  }
}
@media screen and (max-width: 375px) {
    .banniere{
        position:relative;
        width: 100vw;
        height: 70vh;
      }
    .blocTexte{
        width: 100vw;
        position:absolute;
        font-size:12px;
        text-align:center;
        top:70%;
      }
      .blocTexte p{
        max-width: 80%;
        position:relative;
        font-size:12px;
        margin-left:10px;
        top:5px;
        text-align:center;
      }
    .blocTexteProjet p{
        font-size: 11px;
    }
    .bandeauProjetsParent h3{
        display: none;
    }
    .bandeauProjetsParent p{
        width: 20%;
        height: 90%;
        font-size: 11px;
        margin:5% 0% 5% 13%;
    }
    .contenuProjets{
        width: 100%;
    }
    .imageProjetEnfant{
        width: 100%;
    }
}

