/*
<body>
<div class="partie1">
  <div class="titre"> <?php the_field('titre'); ?> </div>
  <div class="datePublication"> <?php the_field('date_de_publication'); ?> </div>
</div>

<div class="texte"> <?php the_field('texte'); ?> </div>

<img src="<?php the_field('image1'); ?>" alt="" class="Image un">
<img src="<?php the_field('image2'); ?>" alt="" class="Image deux">
<img src="<?php the_field('image3'); ?>" alt="" class="Image trois">

<div class="auteur1">
  <img src="<?php the_field('image_auteur'); ?>" alt="" class="ImageAut1">
  <div class="nomAuteur1"> <?php the_field('nom_auteur'); ?> </div>
</div>

<div class="auteur2">
  <img src="<?php the_field('image_auteur_2'); ?>" alt="" class="ImageAut2">
  <div class="nomAuteur2"> <?php the_field('nom_auteur_2'); ?> </div> 
</div>          
</body>
*/

body {
    margin: 0;
    background-color: #E7E3E0;
    
}

.essaie {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.Image {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.Titre {
    margin: 5%;
    font-size: 60px;
    font-family: azo sans; 
    font-weight: 600;
    font-style: normal;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.partie1 {
    display: flex;
    align-items: center;
    position: relative;
    font-family: azo sans;   
}

.texte {
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-left: 2%;
    

}
