/*
<body>
<div class="partie1">
  <div class="titre"> <?php the_field('titre'); ?> </div>
  <div class="datePublication"> <?php the_field('date_de_publication'); ?> </div>
</div>

<div class="texte"> <?php the_field('texte'); ?> </div>

<img src="<?php the_field('image1'); ?>" alt="" class="Image un">
<img src="<?php the_field('image2'); ?>" alt="" class="Image deux">
<img src="<?php the_field('image3'); ?>" alt="" class="Image trois">

<div class="auteur1">
  <img src="<?php the_field('image_auteur'); ?>" alt="" class="ImageAut1">
  <div class="nomAuteur1"> <?php the_field('nom_auteur'); ?> </div>
</div>

<div class="auteur2">
  <img src="<?php the_field('image_auteur_2'); ?>" alt="" class="ImageAut2">
  <div class="nomAuteur2"> <?php the_field('nom_auteur_2'); ?> </div> 
</div>          
</body>
*/

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E7E3E0;
    
}

.essaie {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}

.images {
    width: 100vw;
    position: absolute;
}

.Image {
  width: 50%;
  margin-bottom: 5%;
  margin-top: 5%;
  transform: translateX(50%);
  
}


.titre {
    margin: 5%;
    font-size: 60px;
    font-family: azo sans; 
    font-weight: 600;
    font-style: normal;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.datePublication {
  position: absolute;
  left: 5%;
  top: 90%;
}

.partie1 {
    display: flex;
    align-items: center;
    position: relative;
    font-family: azo sans; 
    flex-direction: column;  
    font-size: 20px;
}



.texte {
    width: 80%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(9, 23, 29, 0.7);
    box-shadow: 3px 3px 7px #0f1b24;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 1;
    position: relative;
    margin-left: 10%;
  
    

}

.auteurs{
  display: flex;
  margin-top: 5%;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.auteur1{
  display: flex;
  flex-direction: row;
  position:relative;
  align-items: center;
  
}

.nomAuteur1 {
  transform: translateX(175%);
  position: absolute;
}


.auteur2{
  display: flex;
  flex-direction: row-reverse;
  position:relative;
  align-items: center;
}

.nomAuteur2 {
  margin-right: 20px;
}

@media screen and (max-width: 582px) { 
  
  .titre {
    font-size: 35px;
}

 }